@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  margin: 0;
  user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}